<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('include/header')%>
  <meta name="viewport" content="Width=device-width, initial scale=1.0">
  <link rel="stylesheet" href="style.css"> 
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<nav>
    <label class="logo">EasySplit</label>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <label id="Icon">
        <i class="fas fa-bars"></i>
    </label>
</nav>
<body class="container">

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Easy Split</h1>
                <p>Make your payments smoothly</p>
                <span>
                    <p>Login with social media</p>
                    <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>



</body>
</html>