<html lang="en">

<head>
    <%- include('include/header')%>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="CSS/about.css">

</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-purple w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-purple"
                href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large  w3-hover-white">Home</a>
            <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">About</a>
            <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact
                Us</a>
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
            <a href="/signup" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">SignUp</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="/about" class="w3-bar-item w3-button w3-padding-large">About</a>
            <a href="/contact" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
            <a href="/login" class="w3-bar-item w3-button w3-padding-large">Login</a>
            <a href="/signup" class="w3-bar-item w3-button w3-padding-large">SignUp</a>
        </div>
    </div>
    <div class="about-section">
        <div class="inner-container">
            <h1>What is EasySplit?
            </h1>
            <p class="text">
                EasySplit is a Providence, RI-based company that makes it easy to split bills with friends and family.
                We organize all your shared expenses and IOUs in one place, so that everyone can see who they owe.
                Whether you are sharing a ski vacation, splitting rent with roommates, or paying someone back for lunch,
                EasySplit makes life easier. We store your data in the cloud so that you can access it anywhere: on
                iPhone, Android, or on your computer.
                We focus on fairness
                Most people want to be fair to each other, but sometimes they forget, or can’t decide on what fair is.
                In addition to helping people honor their debts, we provide mediation advice about fairness issues
                through our “fairness calculators.” These calculators turn our crowdsourced data into a neutral fairness
                opinion about your personal situation. </p>
            <div class="about-me-card">
                <div class="flex">
                    <img
                        src="/Img/House of the Dragon Wallpapers Collection (29).jpg">
                    <div>
                        <h3>Ahmad</h3>
                        <h4>iOS &amp; Android</h4>
                    </div>
                </div>
                <p>Ahmad is a mobile developer who has worked for Mobiata and other awesome companies. In his spare
                    time, he is a glass-blower and a board game enthusiast.</p>
            </div>
            <div class="about-me-card">
                <div class="flex">
                    <img
                        src="/Img/House of the Dragon Wallpapers Collection (29).jpg">
                    <div>
                        <h3>Asad</h3>
                        <h4>iOS &amp; Android</h4>
                    </div>
                </div>
                <p>Asad is a mobile developer who has worked for Mobiata and other awesome companies. In his spare
                    time, he is a glass-blower and a board game enthusiast.</p>
            </div>
            <div class="about-me-card">
                <div class="flex">
                    <img
                        src="/Img/House of the Dragon Wallpapers Collection (29).jpg">
                    <div>
                        <h3>GHAZI</h3>
                        <h4>iOS &amp; Android</h4>
                    </div>
                </div>
                <p>GHAZI is a mobile developer who has worked for Mobiata and other awesome companies. In his spare
                    time, he is a glass-blower and a board game enthusiast.</p>
            </div>
        </div>
    </div>
</body>
<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
</html>