

<!DOCTYPE html>
<html lang="en">

<head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.statically.io/gh/ghazih808/finalproject/master/Assets/CSS/contact.css">
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasySplit</title>
  <!-- ======= Styles ====== -->
  <link rel="stylesheet" href="https://cdn.statically.io/gh/ghazih808/finalproject/master/Assets/CSS/mainHome.css">

   <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee {
      font-size: 200px
    }
  </style>
</head>

<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="logo-usd"></ion-icon>
            </span>
            <span class="title">EasySplit</span>
          </a>
        </li>

        <li>
          <a href="/home">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Home</span>
          </a>
        </li>

        <li>
          <a href="/dashboard">
            <span class="icon">
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/about">
            <span class="icon">
              <ion-icon name="information-circle-outline"></ion-icon>
            </span>
            <span class="title">About</span>
          </a>
        </li>

        <li>
          <a href="/contact">
            <span class="icon">
              <ion-icon name="help-outline"></ion-icon>
            </span>
            <span class="title">Contact Us</span>
          </a>
        </li>

        <li>
          <a href="/login">
            <span class="icon">
              <ion-icon name="log-in-outline"></ion-icon>
            </span>
            <span class="title">Login</span>
          </a>
        </li>

        <li>
          <a href="/feedback">
            <span class="icon">
              <ion-icon name="chatbubbles"></ion-icon>
            </span>
            <span class="title">Feedback</span>
          </a>
      </li>


      </ul>
    </div>

  </div>
<!-- ========================= Main ==================== -->
<div class="main">
  <div class="topbar">
    <div class="toggle">
      <ion-icon name="menu-outline"></ion-icon>
    </div>

  </div>

  <div>
    


  <div >
    <header>
      <br><br><br>
      <br><br>
      <h1><b><u>Contact Us</u></b></h1>
      <style>
        h1 {
          color: #171617;
        }
      </style>
    </header>
    <div class="content">
      <div>
        <section>
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          <h3>address</h3>
          <p>
            Fast CFD, Sargodha Road <br>
            Looneywala, Chiniot
          </p>
        </section>

        <section>
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
          <h3>Phone</h3>
          <p>123-456-78901548</p>
        </section>

        <section>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          <h3>E-mail</h3>
          <p>EasySplit@gmail.com</p>
        </section>
      </div>
    </div>

    <form>
      <div class="form">
        <div class="right">
          <div class="contact-form">
            <input type="text" required>
            <span>Full Name</span>
          </div>

          <div class="contact-form">
            <input type="E-mail" required>
            <span>E-mail Id</span>
          </div>
          <div class="contact-form">
            <textarea name="text">

                  </textarea>
            <span> Type your Message....</span>
          </div>

          <div class="contact-form">
            <input type="submit" name="submit">
          </div>
        </div>
      </div>
  </div>
  </form>
  <div class="media">
    <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
    <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
  </div>
  <div class="empty">

  </div>
  </div>
  

  </div>
  <!-- =========== Scripts =========  -->
  <script src="https://cdn.statically.io/gh/ghazih808/finalproject/master/Assets/JS/mainHome.js"></script>

  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>