<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>EasySplit</title>
    <link rel="stylesheet" href="CSS/feedback.css">
</head>
<body>
    <div class="wrapper">
        <h2>Rate Us</h2>
    <div class="rating">
      <input type='radio' hidden name='rate' id='rating-opt5' data-idx='0'>	
      <label for='rating-opt5'><span>Very satisfied</span></label>
 
      <input type='radio' hidden name='rate' id='rating-opt4' data-idx='1'>
      <label for='rating-opt4'><span>Somewhat satisfied</span></label>
 
      <input type='radio' hidden name='rate' id='rating-opt3' data-idx='2'>
      <label for='rating-opt3'><span>Neutral</span></label>
 
      <input type='radio' hidden name='rate' id='rating-opt2' data-idx='3'>
      <label for='rating-opt2'><span>Dissatisfied</span></label>
 
      <input type='radio' hidden name='rate' id='rating-opt1' data-idx='4'>
      <label for='rating-opt1'><span>Very Dissatisfied</span></label>
    </div>
   <br>
    
    <div class="form-group">
        <div class="input-group">
          <input id="username" name="username" placeholder="username" class="form-control"  type="input">
          <textarea placeholder="Type your feedback" required></textarea>
          
        </div>
      </div>
      <div class="form-group">
        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send Feedback" type="submit">
      </div>
</div>
<script>
    const textarea= document.querySelector("textarea");
    textarea.addEventListener("keyup",e=>{
        textarea.style.height="63px";
        let scHeight=e.target.scrollHeight;
        textarea.style.height=`${scHeight}px`;
    });
</script>

</body>
</html>