
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/header') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasySplit</title>
    <link rel="stylesheet" href="https://cdn.statically.io/gh/ghazih808/finalproject/master/Assets/CSS/mainHome.css">

</head>

<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="/home">
                    <span class="icon">
                        <ion-icon name="logo-usd"></ion-icon>
                    </span>
                    <span class="title">EasySplit</span>
                </a>
            </li>

            <li>
                <a href="/home">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li>
                <a href="/dashboard">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/about">
                    <span class="icon">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </span>
                    <span class="title">About</span>
                </a>
            </li>

            <li>
                <a href="/contact">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                                            </span>
                    <span class="title">Contact Us</span>
                </a>
            </li>

            <li>
                <a href="/login">
                    <span class="icon">
                        <ion-icon name="log-in-outline"></ion-icon>
                    </span>
                    <span class="title">Login</span>
                </a>
            </li>
            <li>
                <a href="/feedback">
                    <span class="icon">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </span>
                    <span class="title">Feedback</span>
                </a>
            </li>



        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>

      </div>
<!-- Header -->
<header class="w3-container  w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">EasySplit</h1>
  <p>WELCOME TO EASYSPLIT WHERE YOUR KHATAS ARE MAINTAINED</p>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/login">Get Started</a>
</header>



      <div>
   

      </div>

      <!-- =========== Scripts =========  -->
      <script src="https://cdn.statically.io/gh/ghazih808/finalproject/master/Assets/JS/mainHome.js"></script>

      <!-- ====== ionicons ======= -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>