<form action="/signup" method="post" enctype="multipart/form-data">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Easy Split</h1>
                <p>Make your payments smoothly</p>
                <span>
                    <p>Login with social media</p>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>
        <div class="right">
            
            <h5>Create</h5><style>h5{color:purple ;}</style><br><br><br>
            <p>Don't have an account? it takes less than a minute to create an EasySplit account. </p>
            <div class="inputs">
                <input type="text" placeholder="User_id" name="user_id" id="user_id"><br>
                <input type="text" placeholder="User name" name="username" id="username">
                <br>
                <input type="password" placeholder="Password" name="password" id="password"><br>
                <br>
                <input type="input" placeholder="City" name="city" id="city"><br>
                <input class="file-input" name="img" type="file"  > 
            
            </div>
            <br>
            <button type="submit">Create</button>
       
        </div>

    </div>
</form>